.needAddGoods {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 5;
    width: 12%;
    height: auto;
    border-radius: 5px;
    border: 2px solid #EB5A1E;
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
}
.needAddGoods h3 {
    font-size: 16px;
}
@media (max-width: 991px) {
    .needAddGoods {
        width: auto;
    }
}
@media (max-width: 500px) {
    .needAddGoods {
        width: 60%;
    }
    .needAddGoods h3 {
        font-size: 14px;
    }
}