body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    
}

/* -------------------- */
.container {
    height: 100vh;
    width: 100%;
    min-width: 100%;
    /* background: rgb(0,88,235); */
    background: linear-gradient(0deg, rgb(53, 120, 235) 0%, rgb(5, 103, 163) 50%);
    position: relative;
} 
.arrow {
    position: absolute;
    left: 15%;
    top: 12%;
    color: #ffffff;
    font-size: 50px;
    display: none;
}
/* ------animation for arrow ------*/

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(18%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(18%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

/*
==============================================
tossing
==============================================
*/

.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}
/* end of animation  */
.location {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 50px;
}
.city-name {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 50px;
}
.icon {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.temperature {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
}
.weater-type {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
}

@media (max-width: 500px) {
    .location {
        font-size: 30px;
    }
    .city-name {
        font-size: 30px;
    }
    .temperature {
        font-size: 30px;
    }
    .weater-type {
        font-size: 30px;
    }
}

@media (max-height: 500px) {
    .location {
        top: 10%;
        font-size: 30px;
    }
    .city-name {
        top: 25%;
        font-size: 30px;
    }
    .icon {
        top: 45%;
    }
    .temperature {
        top: 65%;
        font-size: 30px;
    }
    .weater-type {
        top: 78%;
        font-size: 30px;
    }
}