.was_created-wrapper {
    position: absolute;
    width: 20%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1A1A1A;
    border: 2px solid #3F8CFF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}
.was_created-title {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}
.was-created-button {
    background-color: #3F8CFF;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    width: 20%;
    text-align: center;
    margin: 0 auto 10px auto;
}