body {
  margin: 0;
  font-family: "Kanit", sans-serif;
}

/*===================*/
.main {
  height: 100vh;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  background: linear-gradient(200deg, #C9E8ED, #EEF3F7);
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.main .round {
  width: 200vh;
  height: 200vh;
  border-radius: 50%;
  background-color: #C0D5D9;
  position: fixed;
  z-index: 1;
  left: -15%;
  top: -120%;
}
.main .navigate {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: auto;
  margin: 30px 50px;
}
.main .navigate nav {
  display: flex;
  align-items: center;
}
.main .navigate nav .navbar {
  width: 30%;
  height: auto;
}
.main .navigate nav .nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 50px;
}
.main .navigate nav .nav-list .navlink {
  padding: 0;
  margin: 0 20px;
  cursor: pointer;
  font-size: 30px;
  text-transform: capitalize;
}
.main .name {
  position: absolute;
  z-index: 7;
  left: 27%;
  top: 40%;
}
.main .name .name-title {
  font-size: 250px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 0;
}
.main .card-bg {
  position: absolute;
  z-index: 5;
  height: 90vh;
  width: 50vh;
  bottom: 0;
  left: 50%;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(10deg, #005397, #152645);
}
.main .card-bg .card-title {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 10%;
  color: #ffffff;
  font-size: 160px;
  margin: 0;
}
.main .sneakers .main-image {
  position: absolute;
  z-index: 5;
  top: 40%;
  left: 35%;
  transform: rotate(-25deg);
  filter: drop-shadow(0 0 5rem #000000);
  width: 110vh;
  height: auto;
}
.main .text-transformed {
  position: absolute;
  z-index: 5;
  bottom: 40%;
  left: -2%;
  transform: rotate(270deg);
  font-size: 26px;
  font-weight: 700;
}
.main .text-transformed p {
  margin: 0;
}
.main .text-transformed p::before {
  content: "";
  width: 0px;
  height: 100px;
  color: #000000;
  background-color: #000000;
  border: 3px solid #000000;
  position: absolute;
  z-index: 6;
  left: -25%;
  top: -80%;
  transform: rotate(270deg);
}
.main .avaliable {
  position: absolute;
  z-index: 5;
  display: flex;
  bottom: 10%;
  left: 15%;
  align-items: center;
}
.main .avaliable .first {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 10px solid #057EBE;
  background-color: #ffffff;
  margin: 10px;
  cursor: pointer;
}
.main .avaliable .second {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 10px solid #872078;
  background-color: #ffffff;
  margin: 10px;
  cursor: pointer;
}
.main .avaliable .third {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 10px solid #A3ABB1;
  background-color: #ffffff;
  margin: 10px;
  cursor: pointer;
}

/*==================================================*/
@media only screen and (max-width: 1360px) {
  .main .navigate {
    margin: 30px 30px;
  }
  .main .navigate nav .nav-list {
    margin: 0 30px;
  }
  .main .navigate nav .nav-list .navlink {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1200px) {
  .main .navigate {
    margin: 30px 30px;
  }
  .main .navigate nav .nav-list {
    margin: 0 30px;
  }
  .main .navigate nav .nav-list .navlink {
    margin: 0 20px;
    font-size: 24px;
  }
  .main .name {
    position: absolute;
    z-index: 7;
    left: 27%;
    top: 40%;
  }
  .main .name .name-title {
    font-size: 150px;
  }
  .main .card-bg {
    width: 45vh;
  }
  .main .card-bg .card-title {
    font-size: 130px;
  }
  .main .sneakers .main-image {
    width: 90%;
  }
  .main .text-transformed {
    font-size: 20px;
  }
  .main .text-transformed p::before {
    height: 70px;
  }
}
@media only screen and (max-width: 1120px) {
  .main .round {
    width: 150vh;
    height: 150vh;
    border-radius: 50%;
    background-color: #C0D5D9;
    position: fixed;
    z-index: 1;
    left: -15%;
    top: -80%;
  }
  .main .navigate {
    margin: 30px 15px;
  }
  .main .navigate nav .nav-list {
    margin: 0 15px;
  }
  .main .navigate nav .nav-list .navlink {
    font-size: 22px;
  }
  .main .sneakers {
    top: 35% !important;
  }
  .main .sneakers .main-image {
    width: 90vh;
  }
  .main .card-bg {
    width: 40vh;
    height: 80vh;
  }
  .main .card-bg .card-title {
    font-size: 130px;
  }
  .main .avaliable .first {
    width: 15px;
    height: 15px;
    border: 7px solid #057EBE;
  }
  .main .avaliable .second {
    width: 15px;
    height: 15px;
    border: 7px solid #872078;
  }
  .main .avaliable .third {
    width: 15px;
    height: 15px;
    border: 7px solid #A3ABB1;
  }
}
@media only screen and (max-width: 992px) {
  .main .name .name-title {
    font-size: 100px;
  }
  .main .sneakers {
    left: 20% !important;
  }
  .main .card-bg {
    left: 40%;
  }
  .main .card-bg .card-title {
    font-size: 100px;
  }
  .main .text-transformed {
    left: -5%;
    font-size: 20px;
  }
  .main .text-transformed p::before {
    height: 50px;
    top: -40%;
    left: -20%;
  }
}
@media only screen and (max-width: 800px) {
  .main .sneakers {
    top: 40% !important;
    left: 20% !important;
  }
  .main .sneakers .main-image {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .main .name .name-title {
    font-size: 80px;
  }
  .main .card-bg {
    width: 30vh;
  }
  .main .card-bg .card-title {
    font-size: 100px;
  }
}
@media only screen and (max-width: 586px) {
  .main .navigate {
    margin: 30px 10px;
  }
  .main .navigate nav .nav-list {
    margin: 0 10px;
  }
  .main .navigate nav .nav-list .navlink {
    margin: 0 10px;
    font-size: 18px;
  }
  .main .sneakers {
    top: 50% !important;
  }
}
@media only screen and (max-width: 500px) {
  .main .navigate {
    margin: 30px 10px;
  }
  .main .navigate nav .nav-list {
    margin: 0 10px;
  }
  .main .navigate nav .nav-list .navlink {
    margin: 0 10px;
    font-size: 18px;
  }
  .main .card-bg .card-title {
    font-size: 60px;
  }
  .main .text-transformed {
    font-size: 16px;
  }
  .main .text-transformed p::before {
    height: 30px;
    left: -25%;
    top: -15%;
  }
  .main .avaliable {
    font-size: 16px;
  }
}
@media only screen and (max-width: 450px) {
  .main .navigate nav .navbar {
    width: 15%;
  }
  .main .name .name-title {
    font-size: 60px;
  }
  .main .card-bg {
    left: 30%;
  }
}
@media only screen and (max-width: 380px) {
  .main .card-bg {
    width: 25vh;
  }
  .main .text-transformed {
    font-size: 16px;
    margin-left: -40px;
  }
  .main .text-transformed p::before {
    height: 30px;
    left: -25%;
    top: -15%;
  }
  .main .avaliable {
    font-size: 10px;
  }
}